* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  width: 90%;
}

.card {
  flex: 1 1 200px;
  min-width: calc(33.333% - 40px);
  max-width: fit-content;
}

header {
  font-family: "Roboto", sans-serif;
  display: block;
  height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fdd;
  font-size: 32px;
}
